---
import { Icon } from "astro-icon/components";
---

<nav class="pt-5 px-5 lg:px-[2rem]">
  <div class="flex justify-between">
    <section class="pt-2">
      <a href="https://app.aluracursos.com/">
        <Icon name="alura" class="text-[2rem] transition-all duration-150 hover:scale-125"/>
      </a>
    </section>
    <section class="text-slate-300">
      <ul class="flex gap-3 mt-2">
          <a href="https://github.com/CamiloArango">
            <Icon name="github" class="text-[2rem] transition-all duration-150 hover:scale-125"/>
          </a>
        </li>
        <li>
          <a href="https://x.com/camandmxu">
            <Icon name="twitter" class="text-[2rem] transition-all duration-150 hover:scale-125"/>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/camilo-arango-espinosa/">
            <Icon name="linkedin-in" class="text-[2rem] transition-all duration-150 hover:scale-125"/>
          </a>
        </li>
      </ul>
    </section>
  </div>
</nav>
